### Laravel ###
/node_modules
/bootstrap/compiled.php
/vendor
.env.*.php
.env.php
.env
.env.testing
composer.phar

### Misc ###
.DS_Store
auth.json

### PhpStorm ###
*.iml
.idea/*
!.idea/icon.svg
*.ipr
*.iws

### VS Code ###
.vscode

### PHP CS Fixer ###
.php-cs-fixer.cache

### Pint ###
.pintcache

### ESLint ###
.eslintcache

### Stylelint ###
.stylelintcache

### TSC ###
tsconfig.tsbuildinfo

### Laravel IDE helper ###
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

### PHPUnit ###
/.phpunit.cache

### Vite ###
vite-cert.pem
vite-key.pem

### Tinkerwell ###
.phpactor.json
.phpunit.result.cache
